@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Titillium+Web&display=swap');

/* 
font-family: 'Lily Script One', cursive;
font-family: 'Titillium Web', sans-serif;
 */



/* Mobile First Design */


:root{
    --black-color: #000;
    --bg-color:#bbe1ee;
    --white: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid orange; */
}

body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%; /* 62.5% of 16px is 10px*/
    background-color: var(--bg-color);
    color: var(--black-color);
}

/* Showcase */

.showcase{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5px;
}
.logo, .title{
    display:flex;
    justify-content: center;
}
/* Image */
.logo img{
    width:250px;
    height: 320px;
    transform: rotate(-12deg);
}

.title{
    text-align: center;
    margin: 20px 0 0 0;
}
/* Text properties */
.title h1{
    font-family: 'Lily Script One', cursive;
    font-size: 3.8em;
    transform: rotate(-12deg);
    color:#1b1a1a;
    text-shadow: 1px 1px rgb(66, 65, 65);
}
.title p{
    font-size: 1.9em;
    font-weight: bolder;
    transform: rotate(-12deg);
    color:#202020;
    text-shadow: 1px 1px rgb(214, 210, 210);
}


/* About & Contributions*/

.about, .contributions,.quotes{
    margin: 30px 5px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    box-shadow: rgba(63, 62, 62, 0.2) 0px 7px 29px 0px;
}
.about h2,.contributions h2, .quotes h2{
    font-size: 2.8em;
    text-align:center;
    margin: 8px 0;
    font-weight: bold;
}

.about p{
    font-size: 1.8em;
}

.contributions ol{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contributions li{
    padding: 5px;
}
.contributions ol a{
    font-size: 1.9em;
    color: #1b1a1a;
}
.contributions ol a:hover{
    color: blue;
}

.quotes p{
    font-size: 1.8em;
    text-align: center;
    margin: 10px 0;
}
.read_more{
    text-decoration: none;
    font-size: 1.6em;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display:inline-block;
    width: auto;
    margin: 10px 0 0 0;
    color: black;
    background-color: #cee5ec;
    font-weight: bolder;
}
.read_more:hover{
    color: blue;
}

footer p{
    text-align: center;
    font-size: 1.8em;
    margin: 10px;
    font-weight: bold;
}

hr{
    color: #f1f1f1;
}