@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Open+Sans:wght@500&family=Roboto+Condensed&family=Roboto+Slab:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid blue; */
}
body{
    font-family: 'Roboto', sans-serif;
}
/* header */
#head{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Brand */
#head .brand{
    padding:10px;
    background-color: #70dd90;
    border: 5px solid #74e696;
    border-radius: 50%;
    width:60px;
    height: 60px;
}
/* Menu */
#head .menu{
    display: flex;
    align-items: center;
}
#head .menu ul{
    list-style: none;
    display: flex;
}
#head .menu li{
    padding:10px
}
#head .menu ul li a{
    text-decoration: none;
    color: #70dd90;
    font-weight: 700;
    letter-spacing: 0.5px;
}
#head .menu ul li a:hover{
    color: #000000;
}

/* Showcase  */
#showcase{
    background-color:rgb(252, 247, 247);
    margin-top: 2px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#showcase h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 3px 3px #ddcece;
}
#showcase .showcase-heading p{
    padding: 5px 0;
    text-shadow: 1px 1px rgb(141, 139, 139);
}
#showcase .phone{
    padding: 20px;
}
#showcase .phone h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.8em;
    color: #383737;
    text-shadow: 2px 2px #e6d1d1;
}

/* About */
#about{
    display: flex;
    justify-content:center;
    align-items: stretch;
    padding:15px;
}
#about .about-a{
    margin: 20px 20px 20px 60px;
    flex:60%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#about .about-a h2{
    font-family: 'Roboto slab', serif;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px #ebebeb;
    padding: 20px;
    margin: 5px;
    color: #232523;
}
#about .about-a p{
    padding: 20px;
    margin: 10px;
    line-height: 1.9;
}
#about .about-b{
    flex: 40%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 20px;

}
#about .about-b img{
    width: calc(6 * 55px);
    height: calc(6 * 91px);
    border-radius: 10px;
}



/* Responsive design */
@media(max-width:800px){
    #head{
        flex-direction: column;
        align-items: center;
    }
    #head .brand{
        margin-top: 10px
    }
    #head .menu{
        margin: 10px 0;
    }
    #head .menu ul li a{
        font-size: 0.9em;
    }
    #showcase{
        padding:10px;
        max-height: 380px;
    }
    #showcase h1{
        font-size: 2.1em;
    }
    #showcase .phone h4{
        font-size: 2.1em;
    }
    /* About */
    #about{
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
    }
    #about .about-a,#about .about-b{
        margin: 0;
        padding:5px;
    }
    #about .about-a h2{
       
        font-size: 30px;
        padding: 5px;
        text-align: center;

    }
    #about .about-a p{
        line-height: 1.4;
        font-size: 16px;
        letter-spacing: 0.7px;
        /* text-align: center; */
        
    }
}
